cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.jest-cache
    - $HOME/.npm
    - $HOME/.nvm/.cache
    - $HOME/phpunit-bin

notifications:
  email:
    on_success: never
    on_failure: change

language: php

services:
  - mysql
  - docker

addons:
  apt:
    packages:
      - libxml2-utils

env:
  global:
    - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true

before_install:
  - nvm install
  - nvm use

install:
  - npm install
  - export DEV_LIB_PATH=vendor/xwp/wp-dev-lib/scripts
  - source "$DEV_LIB_PATH/travis.install.sh"

before_script:
  - phpenv config-rm xdebug.ini || echo "xdebug.ini does not exist."

script:
  - source "$DEV_LIB_PATH/travis.script.sh"

after_script:
  - source "$DEV_LIB_PATH/travis.after_script.sh"

jobs:
  fast_finish: true
  include:
    - stage: lint
      name: Lint (PHP, JavaScript, and configuration files)
      php: "7.4"
      env: WP_VERSION=latest DEV_LIB_ONLY=xmllint,phpsyntax
      script:
        - source "$DEV_LIB_PATH/travis.script.sh"
        - npm run lint

    - stage: test
      name: JavaScript unit tests
      php: "7.4"
      env: WP_VERSION=latest DEV_LIB_SKIP=phpcs,eslint,xmllint,phpsyntax,phpunit
      script:
        - source "$DEV_LIB_PATH/travis.script.sh"
        - npm run test:js -- --ci --cacheDirectory="$HOME/.jest-cache"

    - name: PHP unit and E2E tests (7.4, WordPress latest)
      php: "7.4"
      env: WP_VERSION=5.3.2 DEV_LIB_SKIP=phpcs,eslint,xmllint,phpsyntax PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=
      script:
        - npm install
        - npm run build:js
        - npm run build:css
        - docker-compose build
        - npm run env:start
        - npm run cli -- wp core install --title=WordPress --admin_user=admin --admin_password=password --admin_email=admin@example.com --skip-email --url=http://localhost:8088 --quiet
        - npm run test:e2e:coveralls
        - npm run env:stop
        - source "$DEV_LIB_PATH/travis.script.sh"

    - name: PHP unit tests (7.3, WordPress latest)
      php: "7.3"
      env: WP_VERSION=latest DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (7.2, WordPress latest)
      php: "7.2"
      env: WP_VERSION=latest DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (7.1, WordPress latest)
      php: "7.1"
      env: WP_VERSION=latest DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (7.0, WordPress 5.1)
      php: "7.0"
      env: WP_VERSION=5.1 DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (5.6, WordPress 5.0)
      php: "5.6"
      env: WP_VERSION=5.0 DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (7.4, WordPress trunk)
      php: "7.4"
      env: WP_VERSION=trunk DEV_LIB_ONLY=phpunit

    - name: PHP unit tests (5.6, WordPress trunk)
      php: "5.6"
      env: WP_VERSION=trunk DEV_LIB_ONLY=phpunit

    - name: PHP and JavaScript unit tests (7.4, WordPress latest, with code coverage)
      php: "7.4"
      env: WP_VERSION=latest DEV_LIB_ONLY=phpunit
      before_script:
        - npm install
        - echo "Running unit tests with code coverage ..."
      script:
        - npm run build:js
        - npm run build:css
        - source "$DEV_LIB_PATH/travis.script.sh"
        - npm run test:js:coveralls
